body{
  font-family: Calibri;
  font-size: 15px;
  display: block;
}

#banner{
  background-color: #3c579d;
  color: white;
  padding: 5px;
  border-color: #29487d;
  border-style: solid;
  border-width: 2px;
  height: 50px;
  width: 900px;
}

#title{
  background-color: #ffffff;
  width: 230px;
  margin-left: 3px;
  border-style: solid;
  border-color: #29487d;
  border-width: 2px;
  color: #3c579d;
}

#title span{
  font-family: impact;
  font-size: 28px;
  position: relative;
  bottom: 5px;
  left: 10px;
}

#title img{
  position: relative;
  top: 3px;
}

.category{
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
  background-color: #3c579d;
  color: #ffffff;
  width: 300px;
}

.title{
  padding-left: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 40px;
  font-style: italic;
  font-size: 18px;
  background-color: lightgrey;
  width: 350px;
}

.explanation{
  margin-top: 0px;
  margin-left: 60px;
  display: block;
  width: 800px;
}

#codons{
  display: flex;
  margin-left: 60px;
}

#codons p{
  font-family: monospace;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 40px;
}

#nucleotides, #molecularweight, #translation{
  margin-left: 80px;
  font-family: monospace;
  font-size: 14px;
}
