body{
  font-family: Calibri;
  font-size: 15px;
  display: block;
}

#banner{
  display: flex;
  height: 40px;
  width: 900px;
  background-color: #3c579d;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

#banner span{
  font-family: monospace;
  font-size: 26px;
  position: relative;
  top: 5px;
}

.category{
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
  background-color: #3c579d;
  color: #ffffff;
  width: 300px;
}

.title{
  padding-left: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 40px;
  font-style: italic;
  font-size: 18px;
  background-color: lightgrey;
  width: 350px;
}

.explanation{
  margin-top: 0px;
  margin-left: 60px;
  display: block;
  width: 800px;
}

#codons{
  display: flex;
  margin-left: 60px;
}

#codons p{
  font-family: monospace;
  font-size: 14px;
  margin-top: 0px;
  margin-left: 20px;
}

#nucleotides, #molecularweight, #translation{
  margin-left: 80px;
  font-family: monospace;
  font-size: 14px;
}
