#input{
  display: flex;
}

#savelocally{
  position: relative;
  top: 100px;
}

#selectsave{
  min-width : 150px;
}

#hr{
width: 550px;
margin-left: 0px;
margin-top: 5px;
margin-bottom: 5px;
border-style: dotted;;
border-width: 1px;
}

#DNA{
  height: 300px;
  width: 500px;
}

#formattedseq, #nucleotidefreq, #cpgislands, #molweightDNA{
  display: none;
  border-bottom-style: solid;
  border-width: 1px;
}

#formattedseqspan, #nucleotidefreqspan, #cpgislandsspan, #molweightDNAspan{
  padding-bottom: 20px;
}


#translatedseq1, #translatedseq2, #translatedseq3, #codonfreq1, #codonfreq2, #codonfreq3, #shorttranslatedseq1, #shorttranslatedseq2, #shorttranslatedseq3{
  display: none;
}

#shorttranslatedseq3{
  border-bottom-style: solid;
  border-width: 1px;
}

#shorttranslatedseq3 span{
  padding-bottom: 10px;
}

#formattedseqspan, #nucleotidefreqspan, #cpgislandsspan, #molweightDNAspan, #codonfreq1span, #codonfreq2span, #codonfreq3span, #shorttranslatedseq1span, #shorttranslatedseq2span, #shorttranslatedseq3span, #translatedseq1span, #translatedseq2span, #translatedseq3span{
  font-family: monospace;
  display: none;
}

#formattedseq p, #nucleotidefreq p, #cpgislands p, #molweightDNA p, #translatedseq1 p, #translatedseq2 p, #translatedseq3 p{
  font-weight: bold;
  font-size: 18px;
}

#codonfreq1 p, #codonfreq2 p, #codonfreq3 p, #shorttranslatedseq1 p, #shorttranslatedseq2 p, #shorttranslatedseq3 p{
  font-weight: bold;
  padding-left: 10px;
  border-left-style: solid;
  border-left-width: 1px;
}

#codonfreq1span, #codonfreq2span, #codonfreq3span, #shorttranslatedseq1span, #shorttranslatedseq2span, #shorttranslatedseq3span{
  padding-left: 10px;
}
