#hr{
width: 550px;
margin-left: 0px;
margin-top: 5px;
margin-bottom: 5px;
border-style: dotted;;
border-width: 1px;
}

#DNA{
  height: 300px;
  width: 500px;
}

#formattedseq{
  margin-bottom: 20px;
}

#formattedseq span, #nucleotidefreq span, #cpgislands span, #molweightDNA span{
  display: none;
  font-family: monospace;
}

#formattedseq p, #nucleotidefreq p, #cpgislands p, #molweightDNA p{
  font-weight: bold;
  font-size: 18px;
}

#nucleotidefreq, #cpgislands, #molweightDNA{
  border-top-style: solid;
  border-width: 1px;
  margin-bottom: 20px;
}

#translatedseq1{
  border-top-style: solid;
  border-width: 1px;
}

*[id^='frequentcodon'] p, *[id^='shorttranslatedseq'] p{
  font-weight: bold;
  padding-left: 20px;
}

*[id^='frequentcodon'] span{
  display: none;
  position: relative;
  left: 22px;
  font-family: monospace;
}

*[id^='translatedseq'] p{
  font-weight: bold;
  font-size: 18px;
}

*[id^='translatedseq'] span{
  display: none;
  font-family: monospace;
}

*[id^='shorttranslatedseq'] span{
  position: relative;
  left: 20px;
  margin-bottom: 20px;
  display:none;
  font-family: monospace;
}
