#DNA{
  height: 300px;
  width: 500px;
}

#formattedseq p{
  margin-top: 40px;
  font-weight: bold;
  font-size: 22px;
}

#nucleotidefreq p{
  margin-top: 40px;
  font-weight: bold;
  font-size: 22px;
}

*[id^='translatedseq'] p{
  margin-top: 40px;
  font-weight: bold;
  font-size: 22px;
}

*[id^='shorttranslatedseq'] p{
  font-weight: bold;
}
